# Account documents data
VITE_ACCOUNT_DOCUMENTS_URL=https://pub-api-siebert-demo-prod.etnasoft.us/api/v1
VITE_ACCOUNT_DOCUMENTS_API_KEY="YOUR API KEY"
VITE_ACCOUNT_DOCUMENTS_TOKEN="YOUR JWT"

# account number
# siebert account number or another one
VITE_ACCOUNT_NUMBER="YOUR ACCOUNT NUMBER"
