registry=https://registry.npmjs.org/
@etna-trader:registry=https://pkgs.dev.azure.com/etnasoft/ETNA_TRADER/_packaging/trader-npm/npm/registry/
@etna-widget:registry=https://pkgs.dev.azure.com/etnasoft/ETNA_TRADER/_packaging/trader-npm/npm/registry/
always-auth=true
